#header{
    font-family: Gyparody;
    color: goldenrod;
    font-size: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score{
    font-family: Gyparody;
    color: goldenrod;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jeopardy{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "cat cat cat cat cat"
    "b1-100 b2-100 b3-100 b4-100 b5-100"
    "b1-200 b2-200 b3-200 b4-200 b5-200"
    "b1-400 b2-400 b3-400 b4-400 b5-400"
    "b1-600 b2-600 b3-600 b4-600 b5-600"
    "b1-800  b2-800 b3-800 b4-800 b5-800"
    ;
}

.btn {
    font-family: Gyparody;
    font-size: 24px;
    border: 4px solid black;
    height: 20px
    padding: 4px;
    text-justify: center;
    text-align: center;
    color: goldenrod;
    background: darkblue;
}

#display-area {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 2%;
    margin: 2%;
}

#input-div {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#cat{
    grid-area: cat1;
    height: 100px
}

#b1-100{
    grid-area: b1-100;
    height: 75px;
}
#b2-100{
    grid-area: b2-100;
}
#b3-100
{
    grid-area: b3-100;
}
#b4-100{
    grid-area: b4-100;
}
#b5-100{
    grid-area: b5-100;
}
#b1-200{
    grid-area: b1-200;
}
#b2-200{
    grid-area: b2-200;
}
#b3-200{
    grid-area: b3-200;
}
#b4-200{
    grid-area: b4-200;
}
#b5-200{
    grid-area: b5-200;
}
#b1-400{
    grid-area: b1-400;
}
#b2-400{
    grid-area: b2-400;
}
#b3-400{
    grid-area: b3-400;
}
#b4-400{
    grid-area: b4-400;
}
#b5-400{
    grid-area: b5-400;
}
#b1-600{
    grid-area: b1-600;
}
#b2-600{
    grid-area: b2-600;
}
#b3-600{
    grid-area: b3-600;
}
#b4-600{
    grid-area: b4-600;
}
#b5-600{
    grid-area: b5-600;
}
#b1-800{
    grid-area: b1-800;
}
#b2-800{
    grid-area: b2-800;
}
#b3-800{
    grid-area: b3-800;
}
#b4-800{
    grid-area: b4-800;
}
#b5-800{
    grid-area: b5-800;
}
